* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.782);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 {
    width: 600px;
    height: 400px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Скрываем сам чекбокс */
.hidden-checkbox {
    display: none;
}

/* Метка, которая действует как кнопка для чекбокса */
.arrow-label {


    display: flex;

    justify-content: center;
    align-items: center;
}

.arrow {
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    transition: transform 0.3s ease;

    backface-visibility: hidden;

    transform: rotate(0deg) translateZ(0);

}


.hidden-checkbox:checked+.arrow-label .arrow {
    transform: rotate(45deg) translateZ(0);

}